.sharing-image-widget {
  display: block;
  position: relative;
  max-width: 100%;
  margin-top: 12px;

  * {
    box-sizing: border-box;
  }

  .sharing-image-widget-template {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    select {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .sharing-image-widget-fieldset {
    display: none;
    position: relative;

    &.fieldset-visible {
      display: block;
    }
  }

  .sharing-image-widget-image {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    margin-bottom: 12px;

    h4 {
      display: block;
      width: 100%;
      margin: 0 0 5px;
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      width: 30px;
      height: 30px;
      margin: 0 8px 0 0;
      overflow: hidden;

      border-radius: 2px;

      &::after {
        content: "\f128";

        display: block;
        font-size: 2rem;
        line-height: 1;

        font-family: dashicons;
        opacity: 0.375;
      }

      img {
        display: block;
        position: absolute;
        z-index: 2;

        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .button {
      margin-right: 14px;
    }
  }

  .sharing-image-widget-text {
    display: block;
    width: 100%;
    margin-bottom: 12px;

    h4 {
      margin: 0;
    }

    & > * {
      display: block;
      width: 100%;
    }

    textarea {
      height: 55px;
      min-height: 28px;
      margin-top: 5px;
    }
  }

  .sharing-image-widget-designer {
    display: block;
    position: relative;
  }

  .sharing-image-widget-poster {
    display: block;
    position: relative;
    visibility: hidden;

    width: 100%;

    img {
      display: block;

      height: auto;
      max-width: 100%;
      margin-bottom: 12px;

      border-radius: 2px;
    }

    @media screen and (max-width: 1199px) {
      flex: 1 1 100%;
      margin-left: 0;
    }
  }

  .sharing-image-widget-manager {
    display: flex;
    align-items: center;

    width: 100%;

    .button {
      margin-right: 12px;
    }
  }

  .sharing-image-widget-warning {
    display: none;
    position: relative;

    margin: 0 0 12px;
    color: #b32d2e;

    &.warning-visible {
      display: block;
    }
  }

  .sharing-image-widget-delete {
    display: none;
    cursor: pointer;

    color: #b32d2e;
    border-color: #b32d2e;

    &:hover {
      color: #710d0d;
    }
  }

  .sharing-image-widget-spinner {
    float: none;
    margin: 0;
  }

  &.widget-visible .sharing-image-widget-designer {
    .sharing-image-widget-delete {
      display: inline-flex;
    }
  }

  &.widget-loader .sharing-image-widget-designer {
    .sharing-image-widget-spinner {
      visibility: visible;
    }
  }

  &.widget-visible .sharing-image-widget-poster {
    visibility: visible;
  }

  &.widget-term {
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 220px;
    padding: 10px;
    background: #fff;

    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
    border-radius: 3px;

    @media (max-width: 782px) {
      max-width: 100%;
      margin: 20px 0 0;
    }
  }

  &.widget-post {
    width: 100%;
    max-width: 480px;
  }
}