/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/@wordpress/scripts/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/widget/styles.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sharing-image-widget {
  display: block;
  position: relative;
  max-width: 100%;
  margin-top: 12px;
}
.sharing-image-widget * {
  box-sizing: border-box;
}
.sharing-image-widget .sharing-image-widget-template {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.sharing-image-widget .sharing-image-widget-template select {
  display: block;
  width: 100%;
  max-width: 100%;
}
.sharing-image-widget .sharing-image-widget-fieldset {
  display: none;
  position: relative;
}
.sharing-image-widget .sharing-image-widget-fieldset.fieldset-visible {
  display: block;
}
.sharing-image-widget .sharing-image-widget-image {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 12px;
}
.sharing-image-widget .sharing-image-widget-image h4 {
  display: block;
  width: 100%;
  margin: 0 0 5px;
}
.sharing-image-widget .sharing-image-widget-image figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  overflow: hidden;
  border-radius: 2px;
}
.sharing-image-widget .sharing-image-widget-image figure::before {
  content: "\f128";
  display: block;
  font-size: 2rem;
  line-height: 1;
  font-family: dashicons;
  opacity: 0.375;
}
.sharing-image-widget .sharing-image-widget-image figure img {
  display: block;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #ffffff;
}
.sharing-image-widget .sharing-image-widget-image .button {
  margin-right: 14px;
}
.sharing-image-widget .sharing-image-widget-text {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.sharing-image-widget .sharing-image-widget-text h4 {
  margin: 0;
}
.sharing-image-widget .sharing-image-widget-text > * {
  display: block;
  width: 100%;
}
.sharing-image-widget .sharing-image-widget-text textarea {
  height: 55px;
  min-height: 28px;
  margin-top: 5px;
}
.sharing-image-widget .sharing-image-widget-designer {
  display: block;
  position: relative;
}
.sharing-image-widget .sharing-image-widget-poster {
  display: block;
  position: relative;
  visibility: hidden;
  width: 100%;
}
.sharing-image-widget .sharing-image-widget-poster img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  border-radius: 2px;
}
@media screen and (max-width: 1199px) {
  .sharing-image-widget .sharing-image-widget-poster {
    flex: 1 1 100%;
    margin-left: 0;
  }
}
.sharing-image-widget .sharing-image-widget-manager {
  display: flex;
  align-items: center;
  width: 100%;
}
.sharing-image-widget .sharing-image-widget-manager .button {
  margin-right: 12px;
}
.sharing-image-widget .sharing-image-widget-warning {
  display: none;
  position: relative;
  margin: 0 0 12px;
  color: #b32d2e;
}
.sharing-image-widget .sharing-image-widget-warning.warning-visible {
  display: block;
}
.sharing-image-widget .sharing-image-widget-delete {
  display: none;
  cursor: pointer;
  color: #b32d2e;
  border-color: #b32d2e;
}
.sharing-image-widget .sharing-image-widget-delete:hover {
  color: #710d0d;
}
.sharing-image-widget .sharing-image-widget-spinner {
  float: none;
  margin: 0;
}
.sharing-image-widget .sharing-image-widget-mode {
  cursor: help;
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  font-family: dashicons;
  opacity: 0.375;
  color: #ffffff;
}
.sharing-image-widget .sharing-image-widget-mode::after {
  content: "\f313";
}
.sharing-image-widget.widget-visible .sharing-image-widget-designer .sharing-image-widget-delete {
  display: inline-flex;
}
.sharing-image-widget.widget-loader .sharing-image-widget-designer .sharing-image-widget-spinner {
  visibility: visible;
}
.sharing-image-widget.widget-visible .sharing-image-widget-poster {
  visibility: visible;
}
.sharing-image-widget.widget-auto .sharing-image-widget-mode {
  display: block;
}
.sharing-image-widget.widget-term {
  margin: 20px 0;
  margin-right: 5%;
  margin-left: 220px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
  border-radius: 3px;
}
@media (max-width: 782px) {
  .sharing-image-widget.widget-term {
    max-width: 100%;
    margin: 20px 0 0;
  }
}
.sharing-image-widget.widget-post {
  width: 100%;
  max-width: 480px;
}

/*# sourceMappingURL=index.css.map*/