.social-image__metabox {
  text-align: right;
	margin-top: -8px;

	.social-image__fullsize {
		position: relative;

 		&:hover .social-image__search {
			display: flex;
		}
	}



  .social-image__error {
		display: none;

		margin-bottom: 10px;
		padding: 10px;
		text-align: left;
		background: white;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

		border-left: 4px solid #dc3232;

		&.is-active {
			display: block;
		}
  }

	.social-image__search {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;

		color: lightgrey;

		background-color: rgba(0, 0, 0, .85);

		transition: background .2s;

		&:before {
			width: 2rem;
 			height: 2rem;

			font-size: 2rem;
		}
	}

  .social-image__preview {
    display: block;

    max-width: 100%;
  }

  .social-image__empty {
    text-align: left;
  }

  .social-image__text {
    display: block;

    width: 100%;
    min-height: 6rem;
  }

  .social-image__label {
    display: block;

    text-align: left;

    font-weight: bold;
  }

  .social-image__options {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
  }

	.social-image__delete {
		display: block;
		float: left;

    visibility: hidden;

		line-height: 28px;
		color: #a00;

		&:hover {
			color: #dc3232;
		}

    &.is-active {
      visibility: visible;
    }
	}

  .social-image__option {
    width: 49%;
  }

  .social-image__input {
    width: 100%;
  }

  .social-image__run {
    float: right;
  }
}
