.social-image__showcase {
  clear: both;

  margin: 0 -12px 0;

  padding: 10px 10px 0;
  text-align: right;

  background: #f5f5f5;

  border-bottom: 1px solid #ddd;

  .social-image__showcase-error {
 		display: none;

		margin-bottom: 10px;
		padding: 10px;
		text-align: left;
		background: white;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);

		border-left: 4px solid #dc3232;

		&.is-active {
			display: block;
		}
  }

  .social-image__showcase-preview {
 		position: relative;

   .social-image__showcase-image {
      display: block;

      max-width: 100%;
    }

    .social-image__showcase-icon {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      color: lightgrey;

      background-color: rgba(0, 0, 0, .85);

      transition: background .2s;

      &:before {
        width: 32px;
        height: 32px;

        font-size: 32px;
      }
    }

 		&:hover .social-image__showcase-icon  {
			display: flex;
		}
  }
}
