@import "../../includes/variables";
@import "../../includes/controls";
@import "../../includes/mixins";

.sharing-image-tools {
  display: block;

  @include settings-screen($width-narrow);

  h2 {
    margin: 12px 0;
  }

  & ~ #setting-error-sharing-image {
    max-width: $width-narrow - 40px;
  }

  .sharing-image-tools-control {
    display: grid;
    grid-template-columns: 240px auto;
    position: relative;

    width: 100%;
    margin: 40px 0 24px;

    small {
      display: block;

      line-height: 1.375;
      margin-top: 6px;
    }

    h3 {
      grid-column: 1;

      margin: 6px 0 0;
      font-size: 14px;

      @media screen and (max-width: 782px) {
        margin-bottom: 12px;
      }
    }

    h4 {
      margin: 0;
    }

    h3 ~ * {
      grid-column: 2;
      width: 100%;

      @media screen and (max-width: 782px) {
        grid-column: auto;
      }
    }

    &.control-section {
      padding-bottom: 40px;
      border-bottom: solid 1px $color-border;
    }

    @media screen and (max-width: 782px) {
      grid-template-columns: 1fr;
    }
  }

  .sharing-image-tools-control-fieldset {
    display: block;
    position: relative;

    width: 100%;
  }

  .sharing-image-tools-control-uploader {
    display: flex;
    align-items: flex-start;
    position: relative;

    width: 100%;

    input:invalid + button {
      display: none;
    }

    button {
      margin-left: 10px;

      @media screen and (max-width: 479px) {
        margin: 10px 0 0;
      }
    }

    @media screen and (max-width: 479px) {
      flex-flow: row wrap;

    }
  }

  .sharing-image-tools-control-file {
    @include control-file;
  }

  .sharing-image-tools-control-duplicator {
    display: flex;

    select {
      flex: 1 1 100%;
      margin-right: 10px;
    }

    button {
      margin-bottom: 0;
    }
  }

  .sharing-image-tools-warning {
    margin: 6px 0 0;
  }
}