@import "../../includes/variables";
@import "../../includes/controls";
@import "../../includes/mixins";

.sharing-image-editor {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  @include settings-screen;

  .sharing-image-editor-fieldset {
    display: block;
    flex: 1 1 auto;
    min-width: 0;
    margin-right: 48px;
    margin-bottom: 24px;

    @media screen and (max-width: 1023px) {
      flex: 0 1 640px;
      margin-right: 0;
    }
  }

  .sharing-image-editor-control {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    position: relative;
    margin-bottom: 24px;

    p {
      margin: 0 0 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3, h4 {
      display: block;
      cursor: default;

      width: 100%;
      margin: 0 0 5px;

      font-size: 13px;
      font-weight: 600;
    }

    small {
      display: block;
      cursor: default;

      width: 100%;
      margin-top: 6px;

      font-size: 10px;
      line-height: 1.5;
    }

    &.control-hidden {
      display: none;
    }

    &.control-compact {
      width: 300px;
      max-width: 100%;
    }

    &.control-unhelp {
      small {
        display: none;
      }
    }

    &.control-reduced {
      margin-bottom: 14px;
    }

    &.control-sizes {
      flex-flow: row nowrap;

      &>* {
        margin-right: 14px;
      }

      &>*:nth-child(2) {
        margin-right: 54px;
      }

      &>*:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 782px) {
        flex-flow: row wrap;

        &>* {
          width: calc(50% - 7px);
        }

        &>*:first-child {
          margin-bottom: 14px;
        }

        &>*:nth-child(2) {
          margin-right: 0;
          margin-bottom: 14px;
        }
      }
    }

    &.control-select {
      flex-flow: row nowrap;
      align-items: center;

      &>* {
        margin-right: 14px;
      }

      &>*:last-child {
        margin-right: 0;
      }
    }

    &.control-footer {
      flex-flow: row nowrap;
      align-items: center;

      margin-bottom: 0;
      padding-top: 20px;
      border-top: solid 1px #dcdcde;

      &>* {
        margin-right: 28px;
      }

      &>*:last-child {
        margin-right: 0;
      }
    }

    &.control-series {
      flex-flow: row nowrap;

      &>*:first-child {
        margin-right: 54px;
      }

      @media screen and (max-width: 782px) {
        flex-flow: row wrap;

        &>* {
          width: 100%;
        }

        &>*:first-child {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }
    }

    &.control-upload {
      flex-flow: row wrap;
      align-items: flex-end;

      &>*:first-child {
        flex: 1 1 auto;
        margin-right: 14px;
      }

      &>*:nth-child(2) {
        margin-top: 8px;
      }
    }

    &.control-extend {
      > * {
        width: 100%;
      }
    }

    &.control-pulled {
     margin-top: -10px;
    }

    &.control-disabled {
      opacity: 0.5;

      > * {
        pointer-events: none;
      }
    }

    &.control-gapped {
      > :first-child {
        margin-bottom: 20px;
      }
    }
  }

  .sharing-image-editor-designer {
    display: block;
    position: relative;

    width: 100%;
    margin-top: -10px;
  }

  .sharing-image-editor-more {
    display: block;
    cursor: pointer;

    margin: 0;
    padding: 0;

    color: $color-links;
    background: transparent;

    border: none;
    border-bottom: dashed 1px;

    transition: border 0.25s;

    &:focus {
      @include link-focus;
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .sharing-image-editor-delete {
    display: block;
    cursor: pointer;

    margin: 0;
    padding: 0;

    color: $color-alert;
    background: transparent;

    border: none;
    border-bottom: solid 1px;

    text-decoration: none;
    transition: border 0.25s;

    &:focus {
      @include link-focus;
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .sharing-image-editor-collapse {
    display: block;
    cursor: pointer;

    margin-right: 8px;
    padding: 3px 0 0;
    line-height: 1;

    font-size: 14px;
    color: $color-light;

    background: transparent;
    border: none;

    transition: color 0.25s;

    &::before {
      content: '';

      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &::after {
      font-family: dashicons;
      content: "\f347";
    }

    &:hover::after {
      color: $color-focus;
    }

    &:focus {
      @include button-focus;
    }
  }

  .sharing-image-editor-order {
    display: block;
    cursor: move;

    position: absolute;
    top: 12px;
    right: 8px;
    padding: 4px 4px 2px;

    font-size: 16px;
    color: $color-light;

    background: transparent;
    border: none;

    transition: color 0.25s;

    &::after {
      font-family: dashicons;
      content: "\f228";
    }

    &:hover {
      color: $color-focus;
    }

    &:focus {
      @include button-focus;
    }
  }

  .sharing-image-editor-layer {
    display: block;
    position: relative;

    margin: 0 0 16px;
    padding: 14px 10px;
    opacity: 0;

    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    border: 1px solid #ccd0d4;
    border-radius: 4px;

    animation: fade-in 1s forwards;

    h2 {
      display: flex;
      align-items: center;

      position: relative;
      width: calc(100% + 20px);
      margin: -14px -10px 0;
      padding: 14px 40px 14px 10px;

      font-size: 16px;
      font-weight: 600;

      span {
        display: block;

        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: $color-gray;
      }
    }

    h5 {
      display: block;
      margin: 0 10px 24px 0;

      font-size: 13px;
      font-weight: 400;
    }

    &:first-child .control-upnext {
      display: none;
    }

    &.layer-collapsed {
      padding-bottom: 0;
    }

    &.layer-collapsed > * {
      display: none;
    }

    &.layer-collapsed > h2 {
      display: flex;
    }

    &.layer-collapsed > .sharing-image-editor-order {
      display: block;
    }

    &.layer-collapsed .sharing-image-editor-collapse::after {
      content: '\f345';
    }
  }

  .sharing-image-editor-monitor {
    display: block;
    flex: 0 0 480px;
    max-width: 100%;

    order: 2;

    @media screen and (max-width: 1279px) {
      flex: 0 0 400px;
    }

    @media screen and (max-width: 1023px) {
      flex: 0 1 640px;
    }
  }

  .sharing-image-editor-viewport {
    display: block;

    position: sticky;
    top: 52px;

    width: 100%;
  }

  .sharing-image-editor-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.75);

    &::after {
      content: " ";
      display: block;
      position: absolute;

      top: 50%;
      left: 50%;

      width: 40px;
      height: 40px;

      margin-top: -20px;
      margin-left: -20px;

      border: 6px solid #999;
      border-color: #999 transparent #999 transparent;
      border-radius: 50%;

      animation: rotate 1.2s linear infinite;
    }
  }

  .sharing-image-editor-preview {
    display: block;
    position: relative;

    width: 100%;
    overflow: hidden;

    border-radius: 3px;
    box-shadow: 0 0 3px 0 #777;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYGWO8d+/efwYkoKioiMRjYGBC4WHhUK6A8T8QIJt8//59ZC493AAAQssKpBK4F5AAAAAASUVORK5CYII=");

    img {
      display: block;

      object-fit: contain;
      object-position: center;

      width: 100%;
      height: auto;
      max-height: 400px;
    }

    &.preview-blank {
      padding-top: 52.5%;
    }

    &.preview-loader {
      .sharing-image-editor-loader {
        display: block;
      }
    }
  }

  .sharing-image-editor-warning {
    display: none;
    position: relative;

    margin: 12px 0 -6px;
    padding: 8px 12px;

    background: #fff;
    border: 1px solid #c3c4c7;
    border-left: 4px solid $color-alert;
    border-radius: 3px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);

    &.warning-visible {
      display: block;
    }
  }

  .sharing-image-editor-manager {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    width: 100%;
    margin-top: 16px;

    button {
      margin-right: 14px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .sharing-image-editor-debug {
    display: flex;
    align-items: center;
    order: 2;

    margin: 10px 0 10px auto;

    input {
      margin: 0 8px 0 0;
    }

    @media screen and (max-width: 1279px) {
      order: 0;

      width: 100%;
      margin-top: 0;
      margin-bottom: 12px;
    }

    @media screen and (max-width: 782px) {
      margin-top: 10px;
      margin-bottom: 24px;
    }
  }

  .sharing-image-editor-control-input {
    @include control-input;
  }

  .sharing-image-editor-control-radio {
    @include control-radio;
  }

  .sharing-image-editor-control-select {
    @include control-select;
  }

  .sharing-image-editor-control-checkbox {
    @include control-checkbox;
  }

  .sharing-image-editor-control-textarea {
    @include control-textarea;
  }

  .sharing-image-editor-control-range {
    @include control-range;
  }

  .sharing-image-editor-control-media {
    @include control-media;
  }

  .sharing-image-editor-control-color {
    @include control-color;
  }

  @media screen and (max-width: 1023px) {
    flex-flow: row wrap;
  }
}