.sharing-image-control {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;

  width: 100%;
  margin-bottom: 24px;

  p {
    margin: 0 0 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3, h4 {
    display: block;
    cursor: default;

    width: 100%;
    margin: 0 0 5px;

    font-size: 13px;
    font-weight: 600;
  }

  small {
    display: block;
    cursor: default;

    width: 100%;
    margin-top: 6px;

    font-size: 10.5px;
    line-height: 1.5;
  }

  &.control-row {
    flex-flow: row nowrap;
    align-items: center;

    &>* {
      margin-right: 14px;
    }

    &>*:last-child {
      margin-right: 0;
    }
  }

  &.control-extend {
    & > * {
      width: 100%;
    }
  }

  &.control-table {
    flex-flow: row nowrap;

    &>* {
      margin-right: 14px;
    }

    &>*:nth-child(2) {
      margin-right: 54px;
    }

    &>*:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 782px) {
      flex-flow: row wrap;

      &>* {
        width: calc(50% - 7px);
      }

      &>*:first-child {
        margin-bottom: 14px;
      }

      &>*:nth-child(2) {
        margin-right: 0;
        margin-bottom: 14px;
      }
    }
  }

  &.control-config {
    display: grid;
    grid-template-columns: 240px auto;
    position: relative;

    width: 100%;
    max-width: 620px;
    margin: 40px 0;

    h3 {
      grid-column: 1;

      margin: 6px 0;
      font-size: 14px;
    }

    h4 {
      margin: 0;
    }

    h3 ~ * {
      grid-column: 2;
      width: 100%;
    }
  }

  &.control-single {
    flex-flow: row nowrap;

    &>* {
      width: calc(50% - 27px);
    }
  }

  &.control-double {
    flex-flow: row nowrap;

    &>*:first-child {
      margin-right: 54px;
    }

    @media screen and (max-width: 782px) {
      flex-flow: row wrap;

      &>* {
        width: 100%;
      }

      &>*:first-child {
        margin-right: 0;
        margin-bottom: 14px;
      }
    }
  }

  &.control-upload {
    flex-flow: row wrap;
    align-items: flex-end;

    &>*:first-child {
      flex: 1 1 auto;
      margin-right: 14px;
    }

    &>*:nth-child(2) {
      margin-top: 8px;
    }
  }

  &.control-hidden {
    display: none;
  }

  &.control-details {
    flex-flow: row nowrap;
    align-items: center;

    .button {
      margin-right: 14px;
    }

    .button:disabled~* {
      display: none;
    }
  }

  &.control-storage {
    label {
      margin: 0 0 5px;
    }

    &>*:nth-child(2) {
      margin-bottom: 10px;
    }
  }

  &.control-compact {
    max-width: 300px;
  }

  &.control-footer {
    margin-bottom: 0;
  }

  &.control-default {
    small {
      margin-top: 10px;
    }
  }

  &.control-pinned {
    margin-bottom: 15px;
  }

  &.control-format {
    h3 + * {
      margin-bottom: 20px;
    }
  }

  &.control-footer {
    flex-flow: row nowrap;
    align-items: center;

    padding-top: 20px;
    border-top: solid 1px #dcdcde;

    &>* {
      margin-right: 28px;
    }

    &>*:last-child {
      margin-right: 0;
    }
  }

  .sharing-image-control-fieldset {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .sharing-image-control-media {
    display: flex;
    align-items: center;

    a {
      margin-left: 14px;
    }

    button {
      margin-bottom: 0;
    }
  }

  .sharing-image-control-radio {
    display: block;
    position: relative;

    margin-top: 5px;

    span {
      user-select: none;
    }

    input {
      margin-right: 8px;
    }

    @media screen and (max-width: 782px) {
      margin-top: 10px;
    }
  }

  .sharing-image-control-color {
    display: block;
    position: relative;

    input[type="color"] {
      cursor: pointer;
    }
  }

  .sharing-image-control-checkbox {
    display: flex;
    align-items: center;
    position: relative;

    margin-top: 5px;

    span {
      user-select: none;
    }

    input[type="checkbox"] {
      margin: 0 8px 0 0;
    }
  }

  .sharing-image-control-range {
    display: block;
    position: relative;
    width: 100%;

    input {
      display: block;
      width: 100%;
      margin: 8px 0;
    }

    em {
      display: block;
      cursor: default;

      position: absolute;
      right: 2px;
      top: 0;

      font-size: 10px;
      font-style: normal;

      color: $color-links
    }
  }

  .sharing-image-control-button {
    display: block;
    margin-bottom: 0;
  }

  .sharing-image-control-input {
    display: block;
    position: relative;

    input {
      display: block;
      width: calc(100% - 2px);
    }
  }

  .sharing-image-control-textarea {
    display: block;
    position: relative;

    textarea {
      display: block;
      width: calc(100% - 2px);
      min-height: 30px;
    }
  }

  .sharing-image-control-select {
    display: block;
    position: relative;

    flex: 1 1 100%;

    select {
      display: block;
      width: calc(100% - 2px);
      max-width: none;
    }
  }

  .sharing-image-control-more {
    display: block;
    cursor: pointer;

    margin: 0;
    padding: 0;

    color: $color-links;
    background: transparent;

    border: none;
    border-bottom: solid 1px;

    transition: border 0.25s;

    &:focus {
      @include link-focus;
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }
}