$color-links: #3582c4;
$color-alert: #b32d2e;
$color-focus: #787c82;
$color-white: #ffffff;
$color-button: #2271b1;
$color-border: #dddddd;
$color-light: #aaaaaa;

$width-settings: 1100px;
$width-narrow: 800px;