@import "includes/variables";
@import "includes/mixins";
@import "includes/animations";

body.settings_page_sharing-image {

  #wpcontent {
    padding-left: 0;
  }

  .update-nag {
    margin: 20px;

    @media screen and (max-width: 782px) {
      margin: 10px;
    }
  }

  .settings-error {
    margin: 0 0 10px;
    font-weight: 600;

    border-right: none;
    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;

    box-shadow: none;
  }

  #sharing-image-settings {
    display: block;
    position: relative;

    * {
      box-sizing: border-box;
    }

    @import "settings/*";
  }
}