@import "includes/variables";
@import "includes/mixins";
@import "includes/polyfills";
@import "includes/controls";
@import "includes/animations";

body.settings_page_sharing-image {

  #wpcontent {
    padding-left: 0;
  }

  .update-nag {
    margin: 20px;

    @media screen and (max-width: 782px) {
      margin: 10px;
    }
  }

  #setting-error-sharing-image {
    display: block;
    order: -1;

    width: $width-settings - 40px;
    max-width: 100%;

    margin: 20px 0 0;
    font-weight: 600;

    border-top: 1px solid #dcdcde;
    border-bottom: 1px solid #dcdcde;
    border-radius: 3px;
  }

  #sharing-image-settings {
    display: block;
    position: relative;

    * {
      box-sizing: border-box;
    }

    @import "settings/*";
  }
}