@import "includes/variables";
@import "includes/mixins";
@import "includes/gutenberg";

.sharing-image-widget {
  display: flex;
  position: relative;
  max-width: 100%;

  * {
    box-sizing: border-box;
  }

  @import "widget/*";

  &.widget-term {
    max-width: 95%;

    .sharing-image-picker {
      margin-top: 20px;
      padding: 10px;
      background: #fff;

      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.125);
      border-radius: 3px;
    }
  }

  &.widget-post {
    max-width: 480px;
  }
}