body.block-editor-page .button {
  display: inline-flex;
  align-items: center;
  height: 36px;
  margin: 0;
  padding: 6px 12px;
  font-size: 13px;
  color: #007cba;
  background: none;
  border: none;
  border-radius: 2px;
  outline: 1px solid transparent;
  box-shadow: inset 0 0 0 1px #006ba1; }
  body.block-editor-page .button:hover {
    color: #007cba;
    background: none; }
  body.block-editor-page .button:focus {
    color: #007cba;
    box-shadow: inset 0 0 0 1px #007cba; }

body.block-editor-page .button-delete {
  color: #cc1818;
  box-shadow: inset 0 0 0 1px #cc1818; }
  body.block-editor-page .button-delete:hover {
    color: #710d0d;
    box-shadow: inset 0 0 0 1px #710d0d; }

body.block-editor-page textarea {
  padding: 6px 8px;
  font-size: 13px;
  border-radius: 2px;
  box-shadow: transparent 0px 0px 0px;
  transition: box-shadow 0.1s linear 0s; }
  body.block-editor-page textarea:focus {
    border-color: #007cba;
    box-shadow: 0 0 0 calc( 1.5px - 1px) #007cba;
    outline: transparent solid 2px; }

body.block-editor-page select {
  border-radius: 2px;
  font-size: 13px; }
  body.block-editor-page select:focus {
    border-color: #007cba;
    box-shadow: 0 0 0 calc( 1.5px - 1px) #007cba;
    outline: transparent solid 2px; }
  body.block-editor-page select:hover {
    color: #007cba; }

#sharing-image-metabox {
  display: block;
  position: relative; }
  #sharing-image-metabox * {
    box-sizing: border-box; }
  #sharing-image-metabox .sharing-image-picker {
    display: block;
    position: relative;
    margin-top: 12px; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-template {
      display: block;
      width: 100%; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-template select {
        display: block;
        width: 100%; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-fieldset {
      display: none;
      position: relative; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-fieldset.fieldset-visible {
        display: block; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-details {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: 12px; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-details .button {
        margin-right: 14px; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-caption {
      display: block;
      width: 100%;
      margin-top: 12px; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-caption > * {
        display: block;
        width: 100%; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-caption textarea {
        height: 52px;
        min-height: 28px;
        margin-top: 5px; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-poster {
      display: none;
      position: relative;
      width: 100%;
      margin-bottom: 12px;
      overflow: hidden;
      border-radius: 2px; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-poster.poster-visible {
        display: block; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-poster img {
        display: block;
        height: auto;
        max-width: 100%; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-manager {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 12px;
      padding-top: 12px;
      border-top: solid 1px #ccc; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-manager .button {
        margin-right: 12px; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-warning {
      display: none;
      position: relative;
      margin: 12px 0 0;
      color: #b32d2e; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-warning.warning-visible {
        display: block; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-delete {
      display: none;
      cursor: pointer;
      color: #b32d2e;
      border-color: #b32d2e; }
      #sharing-image-metabox .sharing-image-picker .sharing-image-picker-delete:hover {
        color: #710d0d; }
    #sharing-image-metabox .sharing-image-picker .sharing-image-picker-spinner {
      float: none;
      margin: 0; }
    #sharing-image-metabox .sharing-image-picker .poster-visible ~ .sharing-image-picker-manager .sharing-image-picker-delete {
      display: inline-flex; }
    #sharing-image-metabox .sharing-image-picker .poster-loader ~ .sharing-image-picker-manager .sharing-image-picker-spinner {
      visibility: visible; }
