.sharing-image-header {
  display: block;
  order: -2;
  width: 100%;

  background: #fff;
  border-top: 1px solid #dcdcde;
  border-bottom: 1px solid #dcdcde;

  h1 {
    display: block;
    position: relative;

    margin: 0 0 16px;
    padding: 16px 0 4px 0;

    font-weight: 600;
    font-size: 23px;

    line-height: 1.3;
    text-align: center;
  }

  .sharing-image-menu {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;

    @media screen and (max-width: 600px) {
      justify-content: flex-start;
    }
  }

  .sharing-image-tab {
    display: block;

    margin: 0 10px;
    padding: 8px 10px 15px;

    text-decoration: none;
    color: inherit;

    transition: box-shadow .5s ease-in-out;

    &:focus-visible {
      outline: 1px solid $color-focus;
    }

    &:focus {
      box-shadow: none;
    }

    &.active {
      box-shadow: inset 0 -3px $color-links;
      font-weight: 600;
    }
  }
}