@import "../includes/variables";
@import "../includes/polyfills";
@import "../includes/animations";

#wpcontent {
  padding-left: 0 !important;
}

.notice {
  width: $width-settings - 40px;
  max-width: calc(100% - 40px);
  margin: 20px auto;

  &.update-nag {
    display: none;
  }

  @media screen and (max-width: 782px) {
    margin: 10px auto;
  }
}

#sharing-image-settings {
  display: block;
  position: relative;

  * {
    box-sizing: border-box;
  }

  .sharing-image-content {
    display: none;
    flex-flow: column wrap;
    align-items: center;

    &.content-visible {
      display: flex;
    }
  }

  .sharing-image-error {
    max-width: $width-narrow - 40px;
    margin: 40px auto 20px;

    color: $color-alert;
    text-align: center;
  }

  .sharing-image-header {
    display: block;
    order: -2;
    width: 100%;

    background: $color-white;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    h1 {
      display: block;
      position: relative;

      margin: 0 0 16px;
      padding: 16px 0 4px 0;

      font-weight: 600;
      font-size: 23px;

      line-height: 1.3;
      text-align: center;
    }

    .sharing-image-menu {
      display: flex;
      justify-content: center;

      margin: 0 auto;
      overflow-x: auto;
      overflow-y: hidden;

      @media screen and (max-width: 600px) {
        justify-content: flex-start;
      }
    }

    .sharing-image-tab {
      display: block;

      margin: 0 10px;
      padding: 8px 10px 15px;

      text-decoration: none;
      color: inherit;

      transition: box-shadow .5s ease-in-out;

      &:focus-visible {
        outline: 1px solid $color-focus;
      }

      &:focus {
        box-shadow: none;
      }

      &.active {
        box-shadow: inset 0 -3px $color-links;
        font-weight: 600;
      }
    }
  }
}