.meta-image-generate {
  text-align: right;
  margin-top: 1em;

	.meta-image-fullsize {
		position: relative;

 		&:hover .meta-image-search {
			display: flex;
		} 
	}

	.meta-image-search {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		display: none;
		align-items: center;
		justify-content: center;
		
		width: 100%;
		height: 100%;
		
		color: lightgrey;

		background-color: rgba(0, 0, 0, .85);

		transition: background .2s;

		&:before {
			width: 2rem;
 			height: 2rem; 

			font-size: 2rem;
		}
	}

  .meta-image-preview {
    display: block;

    max-width: 100%;
  }

  .meta-image-empty {
    text-align: left;
  }

  .meta-image-text {
    display: block;

    width: 100%;
    min-height: 6rem;
  }

  .meta-image-label {
    display: block;

    text-align: left;

    font-weight: bold;
  }

  .meta-image-options {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1em;
  }

	.meta-image-delete {
		display: block;
		float: left;

    visibility: hidden;

		line-height: 28px;		
		color: #a00;

		&:hover {
			color: #dc3232;
		}

    &.is-active {
      visibility: visible;
    }
	}

  .meta-image-option { 
    width: 49%;
  }

  .meta-image-input {
    width: 100%;
  }

  .meta-image-run {
    float: right;
  }
}
