.social-image__form {
  position: relative;
  float: left;

  width: 480px;
  max-width: 100%;

  .description {
    color: #aaa;
    font-size: .75rem;
  }

  .social-image__form-stretch {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .description {
      width: 100%;
    }
  }


  .social-image__form-regular {
    select {
      width: 100%;
    }

    input {
      width: 100%;
    }
  }
}
