.social-image__item {
  position: relative;
  box-sizing: border-box;

  width: 23%;
  margin: 1%;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);

  border: 1px solid #ddd;

  .social-image__item-image {
    display: block;

    max-width: 100%;
  }

  .social-image__item-title {
    display: block;
    text-overflow: ellipsis;

    height: 18px;
    margin: 0;
    padding: 15px;
    padding-right: 100px;

    font-size: 15px;
    font-weight: 600;

    box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(255,255,255,.65);
  }

  .social-image__item-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;

    .dashicons {
      width: 50px;
      height: 60px;

      font-size: 48px;
      color: #999;
    }
  }

  .button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  &.social-image__item--new {
    outline: none;

    text-decoration: none;
    box-shadow: none;
    transition: none;

    border: 2px dashed #ddd;

    &:hover {
      color: white;
      background-color: #72777c;
      box-shadow: none;

      border: none;

      .social-image__item-holder {
        color: white;
      }

      .dashicons {
        color: white;
      }

    }
  }
}
