.social-image__preview {
  position: relative;
  float: right;

  width: 512px;


  .social-image__preview-figure {
    position: fixed;

    margin: 20px;
    padding: 0;

    @media screen and (max-width: 960px) {
      position: relative;

      margin: 30px 0;
    }
  }

  .social-image__preview-image {
    display: block;

    max-width: 100%;

    box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
  }

  .social-image__preview-caption {
    display: block;

    width: 100%;
    margin-top: 8px;
    font-style: italic;
  }

	@media screen and (max-width: 1200px) {
		width: 384px;
	}

 	@media screen and (max-width: 1072px) {
		width: 256px;
	}

	@media screen and (max-width: 960px) {
    float: none;

		width: 100%;
	}
}
